<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ANTHOdb</title>
    <link href="../static/opmaak.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  	<link rel="icon" href="../static/IMG/favicon.gif" type="image/gif" sizes="16x16">
</head>

<body>
	<div id="wrapper">
        <div id="topnav">
            <div id="menu">
            	<ul>
                	<li><a href="/">Home</a></li>
                    <li><a href="/textmine">Textmine</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div id="banner">
            <img src="../static/IMG/banner.jpg"/>
        </div>

        <div id="titel">
            <h1>ANTHOdb</h1>
            <h2>Een live textmining webapplicatie voor Anthocyaninen in plantensoorten</h2>
         </div>


        <div id="content">

        </div>

		<div class="kaart">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.8733676266493!2d5.861115715276006!3d51.82674369512527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c708f0c25ec641%3A0x5d1283f91e41a9c2!2sLaan+van+Scheut+2%2C+6525+EM+Nijmegen!5e0!3m2!1snl!2snl!4v1463508959465" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

 	    <div class= "contact">
			<p>Zoek contact met ons op</a>
			<br>
			<b>Adres:</b><br>
			Laan van Scheut 2<br>
            6525EM, Nijmegen <br>
			<b>Telefoon:</b><br>
			123-4567890 <br>
			<b>Fax:</b><br>
			123-4567890 <br>
			<b>Email:</b><br>
			<a href="mailto:voorbeeld@gmail.com"><font color="#557BAD">voorbeeld@gmail.com</font></a>
			</p>
		</div>

        <div id="footer">
            <p>Website gemaakt door Tijs van Lieshout, Laatst bewerkt 12-6-2016</p>
        </div>

    </div>
</body>
</html>

