<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ANTHOdb</title>
    <link href="../static/opmaak.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  	<link rel="icon" href="../static/IMG/favicon.gif" type="image/gif" sizes="16x16">
</head>

<body>
	<div id="wrapper">
        <div id="topnav">
            <div id="menu">
            	<ul>
                	<li><a href="/">Home</a></li>
                    <li><a href="/textmine">Textmine</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div> 
        </div>
        
        <div id="banner">
            <img src="../static/IMG/banner.jpg"/>
        </div>
            
        <div id="titel">
            <h1>Help</h1>
            <h2>Hier kunt u help en instructies vinden voor het live textminen en visualiseren van de data.</h2>
         </div>

        <div id="foto1">
           <img src="../static/IMG/question.png"/>
        </div>
                          
        <div id="contenthelp">
            <p>Op deze pagina vind u instructies en help voor het live textminen en visualiseren van de data.<br>
            <br>
			De website heeft vier verschillende hoofd pagina’s die elk een ander doel hebben. Deze pagina’s kunnen opgehaald worden door op de desbetreffende titel te klikken van de pagina. De home pagina is de pagina die als eerste wordt weergegeven en vanuit daar kan er dus worden geklikt op de namen van de andere pagina’s om daar heen te gaan. Als U klikt op Textmine wordt deze verwezen naar de textmine pagina. In figuur 1 is de pagina te zien. het cijfer 1 geeft het input veld weer waarin men een zoekopdracht kan invoeren om live naar te textminen. Zodra dit textminen klaar is verschijnt de visualiseer knop (zie het cijfer 2).
			</p>
		
		<div id="figuuronderschrift">
			<img id="figuur" src="../static/IMG/Figuur 1.png"/>
			<p>Figuur 1: Textmine pagina zodra er op Textmine is geklikt.</p>
		</div>
		
		<p><br>Zodra U geklikt heeft op de visualiseer knop zal de sunburst met de gevonden data zich verschijnen. (zie figuur 2).
			</p>
		
		<div id="figuuronderschrift">
			<img id="figuur" src="../static/IMG/Figuur 2.png"/>
			<p>Figuur 2: Sunburst met data van Arabidopsis Thaliana.</p>
		
		</div>
		
		<p><br>Op de sunburst kan men inzoomen door te klikken op de verschillende ringen. </p>
 		

		
		</div> 
        <div id="footer">
            <p>Website gemaakt door Tijs van Lieshout, Laatst bewerkt 12-6-2016</p>
        </div>
      
    </div>
</body>
</html>

